<nav  >
  <div >


  <nav>
    <ul class="flex-container">
      <li><a [routerLink]="['#']" >Capco</a></li>
      <li><a  routerLinkActive="active" [routerLink]="['/normal']">Normal-Scroll</a></li>
      <li><a routerLinkActive="active" [routerLink]="['/infinite']">Infinite-Scroll</a></li>
    </ul> 
  </nav>
</div>
</nav>
<div >
<router-outlet></router-outlet>

