

nav{
    font-size: 2rem;
    background-color: lightblue;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}


nav ul li {
    cursor: pointer;
    padding: 0.5rem;

}

nav ul li:hover {
    background-color: lightgrey;
    color: white;

}

@media all and (max-width: 400px){
    nav ul{
        flex-direction: column;
    }

    nav ul li {
        text-align: center;
    }
}
